* {
    color: white;
    overflow-x: hidden;
}
.background-image {
    position: fixed;
    background-image: url(background-dam-website.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 150vh;
    z-index: -1;
}
.top {
    padding-top: 2vw;
}
.top img {
    width: 25vw;
}
.info {
    padding-bottom: 10vw;
    width: 30%;
    margin: auto;
    text-align: justify;
}
h1{
    font-family: HeaderFont;
    font-size: 5.5vw;
    line-height: 6vw;
    overflow: hidden;
}
p{
    font-family: ParagraphFont;
    font-size: 1.3vw;
    overflow: hidden;
    margin-top: 3vw;
    
}

.footer {
    padding: 1vw 5vw;
}

a img {
    width: 3vw;
    margin: 0 3vw;
}
.copyright {
    margin:0;
    padding-top: .2vw;
    text-align: right;
}

.offers
{
    background-color: rgba(0, 0, 0, 0.349);
    backdrop-filter: blur(10px);
    padding: 15vw 3vw;
    text-align: left;
}
button {
    background-color: rgba(0, 0, 0, 0.267);
    border: 0;
    padding: 1.5vw 4vw;
    font-size: 1.5vw;
    border-radius: 220px;
    overflow: hidden;
    margin-top: 2vw;
}
button:hover {
    background-color: rgba(0,0,0,0.5);
}
.offers img{
    width: 42vw;
}
.desktop-reverse
{
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}
@font-face {
    font-family: HeaderFont;
    src: url(DelaGothicOne-Regular.ttf);
}
@font-face {
    font-family: ParagraphFont;
    src: url(Inter-Regular.ttf);
}

@media only screen and (min-width: 1367px)
{
    h1 {
        font-size: 5vw;
        line-height: 4.5vw;
    }
    p {
        font-size: 1.2vw;
    }
    .footer {
        padding: 1.5vw 0 0 5vw;
    }
    a img {
        width: 2.5vw;
    }
    .copyright {
        font-size: 1.5vw;
        padding:0 8vw;
    }
}

@media only screen and (max-width: 768px)
{
    .top {
        width: 65%;
        margin: auto;
        padding-bottom: 5vw;
    }
    .top img {
        width: 40vw;
    }
    .info {
        padding:0;
        width: 70%;
        margin: auto;
        padding-bottom: 15vw;
    }
    .info h1 {
        width: 100%;
        padding:0;
        font-size: 10vw;
        line-height: 9vw;
    }
    .info p {
        width: 100%;
        font-size: 2vw;
        padding:0;
    }
    .footer {
        display: block;
        padding: 0 0 0 0;
    }
    .copyright {
        text-align: left;
        font-size: 3.5vw;
    }
    .footer a img {
        padding: 0;
        width: 7vw;
    }
    .offers {
        padding: 20vh 7vw 30vh 7vw;
        text-align: center;
    }
    .offers img {
        width: 80vw;
    }
    .desktop-reverse {
        display:block;
    }
    button {
        margin-bottom: 10vw;
        padding: 3vw 10vw;
        font-size: 4vw;
    }
}
