* {
    color: white;
    overflow-x: hidden;
}

.background-image {
    position: fixed;
    background-image: url(background-dam-website.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 150vh;
    z-index: -1;
}
.info {
    width: 50%;
    margin: auto;
}
.top {
    padding: 2vw;
}
.top img {
    width: 25vw;
}
a {
    font-size: 1.8vw;
    color: white;
    cursor: pointer;
}
a:hover {
    color: white;
}

.offers
{
    background-color: rgba(0, 0, 0, 0.349);
    backdrop-filter: blur(10px);
    padding: 15vw 3vw;
}
h1{
    font-family: HeaderFont;
    font-size: 7vw;
    padding: 2vw 0;
    line-height: 6vw;
    overflow: hidden;
}
p{
    font-family: ParagraphFont;
    font-size: 2vw;
    overflow: hidden;
}
button {
    background-color: rgba(0, 0, 0, 0.267);
    border: 0;
    padding: 1.5vw 4vw;
    font-size: 1.5vw;
    border-radius: 220px;
    overflow: hidden;
    margin-top: 2vw;
}
button:hover {
    background-color: rgba(0,0,0,0.5);
}
.offers img{
    width: 42vw;
}

a img {
    width: 3vw;
    margin: 0 2vw;
}

.copyright {
    padding:0;
    text-align: right;
    font-size: 4vw;
}

.desktop-reverse
{
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}
@font-face
{
    font-family: HeaderFont;
    src: url(DelaGothicOne-Regular.ttf);
}
@font-face
{
    font-family: ParagraphFont;
    src: url(Inter-Regular.ttf);
}

@media only screen and (min-width: 1367px) {
    h1 {
        font-size: 7vw;
    }
    p {
        font-size: 2vw
    }
    .info {
        padding-bottom: 9vw;
    }
    .offers {
        padding: 10vw 1vw 20vw 1vw;
    }
    .offers img {
        width: 47vw;
    }
    .copyright {
        font-size: 1.3vw;
    }
    a img {
        width: 2vw;
    }
}

@media only screen and (max-width: 768px) {
/*    PHONE    */
    .background-image {
        background-size: cover;
    }
    .top {
        padding-top: 6vh;
        padding-bottom: 8vh;
        width: 70%;
        margin:auto;
    }
    .top img {
        width: 55vw;
    }
    .info {
        padding-bottom: 17vh;
        width: 80%;
        margin:auto;
    }
    h1 {
        font-size: 10vw;
        line-height: 9vw;
        padding: 5vw 0;
    }
    p {
        font-size: 3.8vw;
        padding-top: 0vw;
    }
    .offers {
        padding: 20vh 7vw 30vh 7vw;
        text-align: center;
    }
    .offers img {
        width: 80vw;
    }
    .desktop-reverse {
        display:block;
    }
    .row a img {
        width: 7vw;
        margin: 0 3vw;
    }
    .copyright {
        font-size: 2.5vw;
    }
    button {
        margin-bottom: 10vw;
        padding: 3vw 10vw;
        font-size: 4vw;
    }
    .copyright {
        font-size: 2.5vw;
    }
}
