* {
    color: white;
    overflow-x: hidden;
}

.background-image {
    position: fixed;
    background-image: url(background-dam-website.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 150vh;
    z-index: -1;
}
.top {
    padding: 2vw;
}
.top img {
    width: 25vw;
}
a {
    font-size: 1.8vw;
    color: white;
    cursor: pointer;
}
a:hover {
    color: white;
}

.offers
{
    background-color: rgba(0, 0, 0, 0.349);
    backdrop-filter: blur(10px);
    padding: 15vw 3vw;
}
h1{
    font-family: HeaderFont;
    font-size: 7vw;
    padding: 2vw 0;
    line-height: 6vw;
    overflow: hidden;
}
p{
    font-family: ParagraphFont;
    font-size: 2vw;
    overflow: hidden;
}
button {
    background-color: rgba(0, 0, 0, 0.267);
    border: 0;
    padding: 1.5vw 4vw;
    font-size: 1.5vw;
    border-radius: 220px;
    overflow: hidden;
    margin-top: 2vw;
}
button:hover {
    background-color: rgba(0,0,0,0.5);
}
.offers img{
    width: 50vw;
}

a img {
    width: 3vw;
    margin: 0 2vw;
}

.copyright {
    padding:0;
    text-align: right;
}

.dropdown {
    font-size: 2vw;
    padding: 0;
    background: none;
}
#offers-menu {
    display: none;
    position: absolute;
    top: 5vw;
    right: 10vw;
    background-color: rgba(0, 0, 0, 0.466);
    backdrop-filter: blur(10px);
    list-style-type: none;
    padding: 1.5vw;
    border-radius: 20px;
}
#offers-menu li {
    width: 15vw;
}

.desktop-reverse
{
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}
@font-face
{
    font-family: HeaderFont;
    src: url(DelaGothicOne-Regular.ttf);
}
@font-face
{
    font-family: ParagraphFont;
    src: url(Inter-Regular.ttf);
}

@media only screen and (min-width: 1367px) {
    h1 {
        font-size: 5vw;
    }
    p {
        font-size: 2vw
    }
    .info {
        padding-bottom: 9vw;
    }
    .offers {
        padding: 10vw 6vw 15vw 6vw;
    }
}
@media only screen and (max-width: 768px) {
/*    PHONE    */
    .background-image {
        background-size: cover;
    }
    .top img {
        width: 25vw;
    }
    .dropdown {
        font-size: 2.5vw;
        margin: 0.5vw;
    }
    #offers-menu {
        position: absolute;
        z-index: 1;
        top: 14vw;
        left: 0;
        border-radius: 0;
        text-align: center;
        width: 100%;
    }
    #offers-menu li {
        width: 100%;
        margin: 4vw 0;
    }
    h1 {
        font-size: 8vw;
        line-height: 9vw;
        padding: 1vw 0;
    }
    p {
        font-size: 3vw;
        padding-top: 1vw;
    }
    .offers {
        padding: 10vw 7vw;
        text-align: center;
    }
    .offers img {
        width: 80vw;
    }
    .desktop-reverse {
        display:block;
    }
    .row a img {
        width: 4vw;
    }
    .copyright {
        font-size: 2.5vw;
    }
    button {
        margin-bottom: 10vw;
    }
}
